@font-face {
  font-family: 'OstrichSansBlack';
  src: local('OstrichSansBlack'), url("../../assets/fonts/ostrich-sans-black.ttf") format('truetype');
}
@font-face {
  font-family: 'OstrichSansBold';
  src: local('OstrichSansBold'), url("../../assets/fonts/ostrich-sans-bold.ttf") format('truetype');
}
.container{
  height: 100vh;
  position: relative;
  #overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.5)
  }

  img{
    width: 100%;
    height: 100%;
  }
}

.typing {
  position: absolute;
  top: 28%;
  left: 15%;
  text-align: left;

  & > * span{
    font-family: OstrichSansBold, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white;

    b{
      font-family: OstrichSansBlack, sans-serif;
      font-weight: 900;
      font-size: 50px;
    }
  }
}