@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin vertical-list {
  @include reset-list;

  li {
    display: block;
    margin: .5rem;
  }
}

@mixin display-stats($display, $width, $height) {
  display: $display;
  width: $width;
  height: $height;
}